/*body{
  background: url(/Calculadora/assets/img/img1.jpg) no-repeat ;
  height: 100%;
  background-position: center;
  background-size:cover;
  
 
}*/
button {
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 0.3em #080847;
}
input {
  margin-bottom: 10px;
  box-shadow: 0.1px 0.1px 0.3em #0f0f5f;
}

* {
  box-sizing: border-box;
  outline: 0;
}
html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  background: url(/assets/img/img1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: 'Open sans', sans-serif;
}
.container {
  max-width: 411px;
  background: #084996;
  padding: 0;
  border-radius: 10px;
  padding: 0.2em;
  box-shadow: 1.2px 0.2px 1.4em white;
  border: 1px solid #080847;
}
.bg {
  background-color: white;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: black;
}

h1 {
  text-align: center;
}

.calculadora {
  width: 400px;
  border: 1px solid #080847;
  padding: 5px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
  box-shadow: 0.5px 0.2px 0.1em white;
  border: 1px solid #080847;
  background: #081047;

  color: white;
}

.btn:hover {
  background: #9e9e9e;
}
